<div class="container">
  <div class="p-grid welcome-banner">
    <div class="p-col-12 p-lg-10 p-offset-1">
      <h3 id="welcome-text">
        Welcome! I'm Larry Smithwick, a <i>software engineer</i> who
        specializes <i>cloud-based</i> business applications.
        I currently work for <b>VectorOne</b>.
        If you would like us to work on your next project feel free
        to
        <button id="contact-vectorone-button"
                type="button"
                class="p-button-link"
                label="Contact Us!"
                (click)="toVectorOneContact()"
                pButton>
        </button>
      </h3>
    </div>
  </div>
</div>
