<div class="p-grid" id="container">
  <div class="p-col"></div>
  <div class="p-col-fixed content" style="width: 800px;">
    <h2>About Me</h2>
    <p>
      I am a software developer with over a years experience currently living in columbus Ohio.
      I mostly work with Angular, SQL, AWS Lambda in server-less full stack applications. I also do
      quite a bit of work with Xamarin/.NET for Android and IOS applications. I have also dabbled
      with Python, Ruby, MongoDB, Dynamo DB, Tensor Flow, and computer vision.
    </p>

    <p>
      My favorite part about writing code is the taking complex and abstracting one piece at a time until
      it is simple. Unraveling something that is difficult to understand and leaving behind something
      intuitive. It is both satisfying and keeps a project maintainable and changeable in the future.
    </p>

    <p>
      The majority of my experience is working remotely with small teams. I excel at the ability to
      communicate ideas and work as a member of a greater whole. The most important part of this is
      having confidence in your own ability, while staying humble and respecting both the ability and
      perspective of others. I also enjoy mentoring others and setting them up for success.
    </p>

    <p>
      Besides developing I also love building computers, gaming, fitness, hiking and travel. I have done
      quite a bit of travel here in the USA but plan to see much more. If you would like to swap stories
      and chat for any other reason you can <a routerLink=''>Contact Me</a> here.
    </p>
  </div>
  <div class="p-col"></div>
</div>
